<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exchange.c2c.mapper.CurrencyMapper">
    <select id="findCurrencyIdByCode" resultType="java.lang.Integer">
        SELECT CURRENCY_ID FROM master_currencies WHERE `CODE` = #{code}
    </select>

    <select id="findAllByType" resultType="com.exchange.c2c.model.CurrencyDTO">
        SELECT `CODE`, `NAME` FROM master_currencies WHERE TYPE = #{type} ORDER BY SORT
    </select>

    <select id="existsByTypeAndCode" resultType="java.lang.Boolean">
        SELECT COUNT(1) FROM master_currencies WHERE TYPE = #{type} AND `CODE` = #{code}
    </select>
</mapper>